﻿@model WebApplication1.Models.LoginModel

@{
    ViewBag.Title = "Auction Management System";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="en-US">
    <title>Login Form</title>

    
    <link rel="stylesheet" href="@Url.Content("~/scripts/jquery-ui.css")">
    <script src="@Url.Content("~/scripts/jquery-1.12.4.js")"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="@Url.Content("~/scripts/jquery.signalR-2.1.2.js")"></script>

    <script src="@Url.Content("~/scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.mvc.js")"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Style/datatables.min.css")" />

    <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap-rtl.css")">
    <link rel="stylesheet" href="@Url.Content("~/Style/dropdown_search.css")">
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.qtip.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/scripts/jquery.qtip.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/scripts/jquery-ui.css")">
    <script src="@Url.Content("~/scripts/jquery-1.12.4.js")"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="@Url.Content("~/scripts/jquery.signalR-2.1.2.js")"></script>

    <script src="@Url.Content("~/scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.mvc.js")"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Style/datatables.min.css")" />

    <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap-rtl.css")">
    <link rel="stylesheet" href="@Url.Content("~/Style/dropdown_search.css")">
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.qtip.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/scripts/jquery.qtip.min.css")">
    <script src="@Url.Content("~/scripts/jquery-bootstrap-purr.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Style/index_style.css")">
 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <script>
        $( document ).ready(function() {
        $("#send_email").click(function () {
            var rq_data={
                email:$("#send_email_cont").val()
            }
            $.ajax({
                type: "GET",
                data: rq_data,
                url: "@Url.Content("~/Login/SendResetEmail")",
                success: function (d) {
                    $.bootstrapPurr("אנא וודא שהיינך בודק את תיקיית הספאם,נשלח");
                }

            });
        });
        });
    </script>
        @if (!ViewData.ModelState.IsValid)
        {
          
            <script> alert(" שם משתמש או סיסמא לא נכונים ");</script>
        }

    </head>      

<body>

        <div class="container">
            <section id="content">
                @using (Html.BeginForm())
                {
                    <h1><br />מערכת<br /> לשליפת ספקים</h1>
                    <div>
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @placeholder = "שם משתמש" } })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "סיסמא" } })
                    </div>
                    <div>
                        <input class="btn btn-default" type="submit" value="התחבר" />
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">אפס סיסמא</button>
                       
                    </div>
            
             
                }
                <br />
            <div id="ca_indi" style="font-size:medium;">Caps Lock is :  </div>
            <br>
            </section><!-- content -->
        </div><!-- container -->
   
    
    <script src="@Url.Content("~/scripts/index.js")"></script>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">איפוס סיסמא</h4>
                </div>
                <div class="modal-body">
                    
                       
                       <input type="text" id="send_email_cont" class="form-control" placeholder="אימייל לאיפוס" />
                       
             
                </div>
                <div class="modal-footer">
                    <h5>אנא הקלד את האימייל בו השתמש על מנת להרשם, הוראות נוספות ישלחו למייל</h5>
                    <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                    <button type="button" id="send_email" class="btn btn-default">שלח</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>


