﻿@using WebApplication1.Models
@model ResetPassModel 
@{
    ViewBag.Title = "איפוס סיסמא";
 
}
<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="@Url.Content("~/scripts/jquery-ui.css")">
        <script src="@Url.Content("~/scripts/jquery-1.12.4.js")"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <script src="@Url.Content("~/scripts/jquery.signalR-2.1.2.js")"></script>

        <script src="@Url.Content("~/scripts/jquery-ui.js")"></script>
        <script src="@Url.Content("~/scripts/jquery.validate.mvc.js")"></script>

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Style/datatables.min.css")" />

        <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap.css")">
        <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap-rtl.css")">
        <link rel="stylesheet" href="@Url.Content("~/Style/dropdown_search.css")">
        <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/scripts/jquery.qtip.min.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/scripts/jquery.qtip.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/scripts/jquery-ui.css")">
        <script src="@Url.Content("~/scripts/jquery-1.12.4.js")"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <script src="@Url.Content("~/scripts/jquery.signalR-2.1.2.js")"></script>

        <script src="@Url.Content("~/scripts/jquery-ui.js")"></script>
        <script src="@Url.Content("~/scripts/jquery.validate.mvc.js")"></script>

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Style/datatables.min.css")" />

        <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap.css")">
        <link rel="stylesheet" href="@Url.Content("~/Style/bootstrap-rtl.css")">
        <link rel="stylesheet" href="@Url.Content("~/Style/dropdown_search.css")">
        <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/scripts/jquery.qtip.min.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/scripts/jquery.qtip.min.css")">
        <script src="@Url.Content("~/scripts/jquery-bootstrap-purr.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/Style/index_style.css")">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
   @if (ViewData.ModelState.Keys.Contains("שגיאה"))
   {
    <script>
        alert("פרטים לא נכונים, אנא וודא את השדות ושלח שוב");
        "שינוי פרטים הצליח"
    </script>
   }
        @if (ViewData.ModelState.Keys.Contains("הצליח"))
        {
            <script>
                alert("שינוי פרטים הצליח");
        "שינוי פרטים הצליח"
            </script>
        }
    </head>
    <body>
      @using (Html.BeginHorizontalForm())
      {
        <div class="col-sm-12 row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                שם משתמש: @Html.EditorFor(model => Model.Id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
               מפתח(אוטומטית מוגדר): @Html.EditorFor(model => Model.Key, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
               אימייל: @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                סיסמא חדשה: @Html.EditorFor(model => Model.NewPass, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
               <input class="btn center-block btn-default" type="submit" value="שלח" />
            </div>
            <div class="col-sm-5"></div>
        </div>
      }
    </body>
</html>
