﻿@model WebApplication1.Models.UnitFModel
@using WebApplication1.Database
@{
    ViewBag.Title = "הוסף משתמש";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@{

    List<WebApplication1.Database.Statuses> sl;
    List<WebApplication1.Database.Auctions> al;
    using (TimchurDatabaseEntities ent = new TimchurDatabaseEntities())
    {

        sl = ent.Statuses.ToList();
        al = ent.Auctions.ToList();
    }
    List<SelectListItem> slsl = new List<SelectListItem>();
    foreach (WebApplication1.Database.Statuses sli in sl)
    {
        SelectListItem item = new SelectListItem()
        {
            Text = sli.Name,
            Value = (sli.ID).ToString(),
            Selected = false,
        };
        if (sli.Name == "פעיל")
        {
            item.Selected = true;
        }
        slsl.Add(item);

    }
  
    
     

    
    var x = 0;
    using (TimchurDatabaseEntities entit = new TimchurDatabaseEntities())
    {
        if (Model!=null && Model.unit != null && Model.unit.Name != null)
        {
            if (entit.Units.Where(x2 => x2.Name == Model.unit.Name).Count() > 0)
            {
                x = entit.Units.Where(x2 => x2.Name == Model.unit.Name).ToList().First().ID;

            }
        }
    }
}
<script>
    function ex_co()
    {
        var r = confirm("האם אתה בטוח שאתה רוצה לבטל?");
        if (r == true) {
            $('form')
  .trigger('reset');
        } else {

        }
    }
</script>
@if (ViewData.ModelState.Keys.Contains("Exist"))
{
    <script>
        var r = confirm("הפריט קיים במסד,האם תרצה לערוך אותו?");
        if (r == true) {
            window.location = "/Main/EditUnit/"+@x ;
        } else {

        }

    </script>
}
<style>
    input.input-validation-error,
    textarea.input-validation-error,
    select.input-validation-error {
        background: #FEF1EC;
        border: 1px solid #CD0A0A;
    }
    .table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

  #bar {
  border-right: 1px dashed #333;
}
</style>
@section Code1
{
    var full="מ ספקים לתיחור – רשימת משתמשים מורשים" + dstr;
    var table = $('.tabExcel').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: full
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });
     var tablei = $('.tabExceli').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: full
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-3'><'col-sm-2'f><'col-sm-7'>>"

    });
}
<meta charset="ISO-8859-1">

<div class="row">
    <div class="col-lg-6">
        <h4>&nbsp;&nbsp;&nbsp; הוסף יחידה</h4>
    </div>
    <!--<div class="col-lg-offset-5 pull-right"><button onclick="ex_co()" class="btn btn-default">איפוס</button></div>-->

</div>

@using (Html.BeginHorizontalForm())
{




    <hr />
    <div class="col-sm-offset-4">
        @if (!ViewData.ModelState.IsValid)
        {
            <h4>שגיאות:</h4>
        }
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <div class="col-sm-3"></div>
    <table class="table col-sm-5 table-borderless">

        <tr>
            <td>

                <label class="control-label">קוד יחידה:</label>
          
            </td>
            <td>
                <div>

                    @if (Model != null && Model.unit != null && Model.unit.ID != 0)
                    {
                        <p>[@Model.unit.ID]</p>

                    }
                    else
                    {
                        <p>[ ]</p>
                    }
                </div>
            </td>
            <td>


                <div id="bar" class="mycontent-right">
                    <p style="font-size:xx-small">שדה אוטומטי</p>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => Model.unit.StatusID, "סטאטוס:", new { @class = "control-label" })
            </td>
            <td>
                @Html.DropDownListFor(model => Model.unit.StatusID, slsl, "בחר/י ערך",  new { @class = "form-control" } )
                @Html.ValidationMessage("unit.StatusID", "", new { @class = "text-danger" })
            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => Model.unit.Name, "שם יחידה:", new { @class = "control-label" })</td>
            <td>
                @Html.EditorFor(model => Model.unit.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("unit.Name", "", new { @class = "text-danger" })
            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => Model.unit.MerkavaID, "קוד חברה במרכב'ה:", new { @class = "control-label" })</td>
            <td>
                @Html.EditorFor(model => Model.unit.MerkavaID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("unit.MerkavaID", "", new { @class = "text-danger" })

            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <p style="font-size:xx-small">4 ספרות</p>

                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="שמירה" class="btn btn-default" /></td>
            <td></td>
        </tr>
    </table>
    <div class="col-sm-4"></div>
    <div class="row col-sm-12">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5">
            <div class="row bg-primary">

                הגבלה למכרזים

            </div>
        </div>
        <div class="col-sm-4">
        </div>

    </div>
    <div class="row col-sm-12">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-5">
            <div class="form-group">

                <div>
                    <table class="table tabExceli">
                        <thead>
                            <tr>
                                <th>
                                    הגבל
                                </th>
                                <th>
                                    מס' מכרז
                                </th>
                                <th>
                                    שם מכרז
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (WebApplication1.Database.Auctions ali in al)
                            {
                                <tr>
                                    <th>
                                        <input type="checkbox" name="Limitions" value="@ali.ID">
                                    </th>
                                    <th>
                                        @ali.AuctionNumber
                                    </th>
                                    <th>
                                        @ali.Name
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
        </div>
</div>























}


