﻿@model WebApplication1.Database.Clusters
@using WebApplication1.Database
@{
    ViewBag.Title = "הוסף סל";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@{
    List<WebApplication1.Database.Auctions> al;
    List<WebApplication1.Database.Statuses> sl;
    List<WebApplication1.Database.Suppliers> spl;
    List<Suppliers> supp_sta = new List<Suppliers>();
    using (TimchurDatabaseEntities ent = new TimchurDatabaseEntities())
    {
        al = ent.Auctions.ToList();
        sl = ent.Statuses.ToList();
        spl = ent.Suppliers.ToList();

        foreach (WebApplication1.Database.Suppliers sli in spl)
        {
            bool sadd = false;
            foreach (SuppliersClusters spcl in sli.SuppliersClusters)
            {
                if (spcl.ClusterID == Model.ID)
                {
                    sadd = true;
                }

            }
            if (sadd)
            {
                supp_sta.Add(sli);
            }
        }
    }
    List<SelectListItem> alsl = new List<SelectListItem>();
    foreach (WebApplication1.Database.Auctions ali in al)
    {
        SelectListItem item = new SelectListItem()
        {
            Text = ali.AuctionNumber + " " + ali.Name,
            Value = (ali.ID).ToString(),
            Selected = false,
        };
        alsl.Add(item);
    }
    List<SelectListItem> slsl = new List<SelectListItem>();
    foreach (WebApplication1.Database.Statuses sli in sl)
    {
        SelectListItem item = new SelectListItem()
        {
            Text = sli.Name,
            Value = (sli.ID).ToString(),
            Selected = false,
        };
        slsl.Add(item);

    }


}
<script>
    function ex_co() {
        var r = confirm("האם אתה בטוח שאתה רוצה לבטל?");
        if (r == true) {
            $('form')
  .trigger('reset');
        } else {

        }
    }
</script>
<style>
    input.input-validation-error,
    textarea.input-validation-error,
    select.input-validation-error {
        background: #FEF1EC;
        border: 1px solid #CD0A0A;
    }
       .table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

  #bar {
  border-right: 1px dashed #333;
}
</style>
@section Code1
{
    var full="מערכת שליפת ספקים לתיחור – רשימת משתמשים מורשים" + dstr;
    var table = $('.tabExcel').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: full
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });
       var tablei = $('.tabExceli').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: full
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-3'><'col-sm-2'f><'col-sm-7'>>"

    });
}
<meta charset="ISO-8859-1">

<div class="row">
    <div class="col-lg-6">
        <h4>&nbsp;&nbsp;&nbsp; הוסף סל</h4>
    </div>
    <!--<div class="col-lg-offset-5 pull-right"><button onclick="ex_co()" class="btn btn-default">איפוס</button></div>-->

</div>
@using (Html.BeginHorizontalForm())
{




    <hr />
    <div class="col-sm-offset-4">
        @if (!ViewData.ModelState.IsValid)
        {
            <h4>שגיאות:</h4>
        }
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <div class="col-sm-3"></div>
    <table class="table col-sm-5 table-borderless">

        <tr>
            <td>

                @Html.LabelFor(model => model.AuctionID, "מכרז:", new { @class = "control-label" })

            </td>
            <td>
                @Html.DropDownListFor(model => model.AuctionID, alsl, "בחר/י ערך", new { @class = "form-control" })
                @Html.ValidationMessage("AuctionID", "", new { @class = "text-danger" })
            </td>
            <td>


                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => Model.StatusID, "סטאטוס:", new { @class = "control-label" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.StatusID, slsl, "בחר/י ערך", new { @class = "form-control" })
                @Html.ValidationMessage("StatusID", "", new { @class = "text-danger" })
            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.DisplayNumber, "מספר סל:", new { @class = "control-label" })</td>
            <td>
                @Html.EditorFor(model => model.DisplayNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("DisplayNumber", "", new { @class = "text-danger" })
            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Name, "שם סל:", new { @class = "control-label" })</td>
            <td>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Name", "", new { @class = "text-danger" })

            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.SuppliersInTichur, "מס' ספקים בכל תיחור:", new { @class = "control-label" })</td>
            <td>
                @Html.EditorFor(model => model.SuppliersInTichur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("SuppliersInTichur", "", new { @class = "text-danger" })
            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.SuppliersInTichur, "ספקים שמספקים את הסל", new { @class = "control-label" })</td>
            <td>
                <table class="table tabExceli">
                    <thead>
                        <tr>
                            
                            <th>
                                ח.פ.
                            </th>
                            <th>
                                שם ספק
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WebApplication1.Database.Suppliers sli in supp_sta)
                {
                            <tr>
                                <th>
                                    @sli.CompanyNumber
                                </th>
                                <th>
                                    @sli.Name
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <div id="bar" class="mycontent-right">
                    <!--<p style="font-size:xx-small">הערה כלשהיא לגביי התוכן של הטקסט</p>-->

                </div>
            </td>
        </tr>
       

        <tr>
            <td></td>
            <td><input type="submit" value="שמירה" class="btn btn-default" /></td>
            <td></td>
        </tr>

    </table>












}

