﻿@using WebApplication1.Models
@using WebApplication1.Database
@{
    ViewBag.Title = "צפייה בתיחורים קיימים";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    List<SelectListItem> unitli = new List<SelectListItem>();
    List<SelectListItem> auctionli = new List<SelectListItem>();

    using (TimchurDatabaseEntities ent = new TimchurDatabaseEntities())
    {
        var my_id = (ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.ID.ToString());
        if (User.IsInRole("Admin"))
        {
            foreach (Units un in ent.Units)
            {
                if (un.ID.ToString() == my_id)
                {
                    unitli.Add(new SelectListItem() { Value = un.ID.ToString(), Text = un.Name, Selected = true });
                }
                else
                {
                    unitli.Add(new SelectListItem() { Value = un.ID.ToString(), Text = un.Name, Selected = false });
                }
            }
        }
        else
        {
            var rec = "<" + (ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.ID.ToString()) + "><" + (ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.Name) + ">.<" + ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().FullName + "," + ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Roles.Name + ">";
            unitli.Add(new SelectListItem() { Value = ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.ID.ToString(), Text = rec, Selected = true });
        }
        if (User.IsInRole("Admin") || ent.UnitsAuctions.Where(x => x.UnitID == ent.Users.Where(x2 => x2.IDCardNumber == User.Identity.Name).FirstOrDefault().Units.ID).Count() == 0)
        {
            foreach (Auctions un in ent.Auctions)
            {
                if (un.StatusID == 1)
                {
                    auctionli.Add(new SelectListItem() { Value = un.ID.ToString(), Text = un.Name, Selected = false });
                }
            }
        }
        else
        {
            foreach (UnitsAuctions un in ent.UnitsAuctions.Where(x => x.UnitID == ent.Users.Where(x2 => x2.IDCardNumber == User.Identity.Name).FirstOrDefault().Units.ID))
            {
                if (un.Auctions.StatusID == 1)
                {
                    auctionli.Add(new SelectListItem() { Value = un.Auctions.ID.ToString(), Text = un.Auctions.Name, Selected = false });
                }
            }
        }
    }

}
@section Code1
{
    var texTab1="";
    var texTab2="";
    var table = $('.tabExcel1').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title:  texTab1+dstr,
    init: function(dt, node, config) {
        $("#filename").on('click', function() {
            config.title = $("#filename").html()+dstr;
        })
     }
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });
    et=table;
    
    var table2 = $('.tabExcel2').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: texTab2 +dstr,
    init: function(dt, node, config) {
        $("#filename").on('click', function() {
            config.title = $("#filename").html()+dstr;
        })
     }
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });
    et2=table2;
}
<div id="filename" style="display:none;"></div>
@if (User.IsInRole("Admin"))
{
    <script language="javascript" type="text/javascript">
        var admin = true;
    </script>
}
else
{
    <script language="javascript" type="text/javascript">
        var admin = false;
    </script>
}
<script language="javascript" type="text/javascript">
    var id = 0;
   
    var last_succ_id = -1;

    function FirstReact(str,unit)
    {
       

     id = 1;
     $('#tichur_num').val(str);
     unit_id = "";
     $("#uni_sel option").each(function () {
         var value = $(this).val();
         var text = $(this).html();
         
         if (text == unit)
             unit_id = value;
     });
 
   
    
     if (admin)
         getListMod(unit_id);
        else
         getList();
     $('#tichur_num').val("");
     id = 2;
       }
    function GetVal(_auctionId) {

        var procemessage = "<option value='' selected='selected'>המתן....</option>";
        $("#sel_clust").html(procemessage).show();
        var url = "/Main/GetCluByAuc/";
        if (_auctionId == "") {
            return;
        }
        $.ajax({
            url: url,
            data: { auctionId: _auctionId },
            cache: false,
            type: "POST",
            success: function (data) {
       
                var markup = "<option value='' selected='selected'>בחר/י ערך</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#sel_clust").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    $(document).ready(function () {

        $('input[type=radio][name=sopt]').change(function() {
            if (this.value == '1') {
                id = 1;
                $("#sel_clust").prop('disabled', true);
                $("#sel_auct").prop('disabled', true);
            }
            else if (this.value == '2') {
                $("#sel_clust").prop('disabled', false);
                $("#sel_auct").prop('disabled', false);
                id = 2;
            }
            else
            {
                $("#sel_clust").prop('disabled', true);
                $("#sel_auct").prop('disabled', true);
                id = 0;
            }
       
        })
    });
    function newEff()
    {
        last_succ_id = -1;
        id = 0;
        $("#form_search_area").trigger('reset');
        $("#datetimepicker1").val("01/01/0001");
        $("#datetimepicker2").val("01/01/0001");
        $("#tab_1").css({ "display": "none" });
    }
    function getList()
    {
        $("#tab_1").css({ "display": "none" });
        $("#tab_2").css({ "display": "none" });
        $('#tichur_num').css({ "background": "", "border": "" });
        $(".qtip").remove();

            $("#canc_tichur").prop("disabled", "disabled");


        last_succ_id = -1;
        switch(id)
        {

            case 0:
                $.bootstrapPurr("בחר שיטת שליפה בבקשה");
                break;
            case 1:
                var data = {

                    id: $('#tichur_num').val(),
                    unit_field: $('#uni_sel').val()
                };
                var pattren = /[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]#/g;
                if (pattren.test(data.id + "#") == false)
                {
                    $('#tichur_num').css({ "background": "#FEF1EC", "border": "1px solid #CD0A0A" });
                    $('#tichur_num').qtip({ // Grab some elements to apply the tooltip to
                        content: 'מספר תיחור אינו תקין',
                        position: {
                            target: 'mouse', // Track the mouse as the positioning target
                            adjust: { x: 5, y: 5 } // Offset it slightly from under the mouse
                        }
                    });
                    break;
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/Main/GetByTichurNumber")" ,
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: data,
                    success: function (d) {
                        if(d.Status=="error")
                        {
                            $.bootstrapPurr(d.data[0][0]);
                       
                        }
                        else
                        {
                            last_succ_id = data.id;

                            $("#tab_1").css({ "display": "inline", "width": "100%" });

                                       $("#canc_tichur").prop("disabled", "");

                                  et.clear().draw();
                                  for (var i = 1; i < d.data.length; i++) {
                                      var arr = [];
                                      arr.push(i);
                                      for (var j = 1; j < d.data[i].length; j++) {
                                          arr.push(d.data[i][j]);
                                      }
                                      et.row.add(arr).draw();


                                  }
                                  $("#filename").html($('#uni_sel option:selected').text() + "-" + "תיחור " + $('#tichur_num').val() + " " + "- רשימת ספקים");
                                  $("#filename").trigger("click");



                              }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                });

                break;
            case 2:
                var data = {

                    From: $('#datetimepicker1').val(),
                    To: $('#datetimepicker2').val(),
                    unit_field: $('#uni_sel').val(),
                    clu_field: $('#sel_clust').val(),
                    auc_field: $('#sel_auct').val()
                };
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/Main/GetByTichurDates")" ,
                    content: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                success: function (d) {
                    if(d.Status=="error")
                    {
                        $.bootstrapPurr(d.data[0][0]);
                    }
                    else
                    {


                        $("#tab_2").css({ "display": "inline", "width": "100%" });

                        $("#canc_tichur").prop("disabled", "disabled");

                        et2.clear().draw();
                        for (var i = 1; i < d.data.length; i++) {
                            var arr = [];
                            arr.push(i);
                            for (var j = 1; j < d.data[i].length; j++) {
                                arr.push(d.data[i][j]);
                            }
                            arr.push("<a onclick='FirstReact(\"" + d.data[i][4] + "\",\"" + d.data[i][1] + "\")'>ראה תיחור</a>");
                            et2.row.add(arr).draw();
                           

                          
                        }
                        $("#filename").html($('#uni_sel option:selected').text() + "-" + "רשימת תיחורים מתאריך" + $('#datetimepicker1').val() + "עד תאריך" + $('#datetimepicker2').val());
                        $("#filename").trigger("click");


                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
                });

        break;

        }
    }
    function getListMod(unit)
    {
        $("#tab_1").css({ "display": "none" });
        $("#tab_2").css({ "display": "none" });
        $('#tichur_num').css({ "background": "", "border": "" });
        $(".qtip").remove();

        $("#canc_tichur").prop("disabled", "disabled");


        last_succ_id = -1;
        switch(id)
        {

            case 0:
                $.bootstrapPurr("בחר שיטת שליפה בבקשה");
                break;
            case 1:
                var data = {

                    id: $('#tichur_num').val(),
                    unit_field: unit
                };
                var pattren = /[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]#/g;
                if (pattren.test(data.id + "#") == false)
                {
                    $('#tichur_num').css({ "background": "#FEF1EC", "border": "1px solid #CD0A0A" });
                    $('#tichur_num').qtip({ // Grab some elements to apply the tooltip to
                        content: 'מספר תיחור אינו תקין',
                        position: {
                            target: 'mouse', // Track the mouse as the positioning target
                            adjust: { x: 5, y: 5 } // Offset it slightly from under the mouse
                        }
                    });
                    break;
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/Main/GetByTichurNumber")" ,
                    content: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                success: function (d) {
                    if(d.Status=="error")
                    {
                        $.bootstrapPurr(d.data[0][0]);
                    }
                    else
                    {
                        last_succ_id = data.id;

                        $("#tab_1").css({ "display": "inline", "width": "100%" });

                        $("#canc_tichur").prop("disabled", "");

                        et.clear().draw();
                        for (var i = 1; i < d.data.length; i++) {
                            var arr = [];
                            arr.push(i);
                            for (var j = 1; j < d.data[i].length; j++) {
                                arr.push(d.data[i][j]);
                            }
                            et.row.add(arr).draw();


                        }
                        $("#filename").html($('#uni_sel option:selected').text() + "-" + "תיחור " + $('#tichur_num').val() + " " + "- רשימת ספקים");
                        $("#filename").trigger("click");



                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
        });

        break;
           case 2:
                var data = {

    From: $('#datetimepicker1').val(),
    To: $('#datetimepicker2').val(),
    unit_field: $('#uni_sel').val(),
    clu_field: $('#sel_clust').val(),
    auc_field: $('#sel_auct').val()
    };
                $.ajax({
    type: "POST",
    url: "@Url.Content("~/Main/GetByTichurDates")" ,
    content: "application/json; charset=utf-8",
    dataType: "json",
    data: data,
    success: function (d) {
        if(d.Status=="error")
        {
            $.bootstrapPurr(d.data[0][0]);
        }
        else
        {


            $("#tab_2").css({ "display": "inline", "width": "100%" });

            $("#canc_tichur").prop("disabled", "disabled");

            et2.clear().draw();
            for (var i = 1; i < d.data.length; i++) {
                var arr = [];
                arr.push(i);
                for (var j = 1; j < d.data[i].length; j++) {
                    arr.push(d.data[i][j]);
                }
                arr.push("<a onclick='FirstReact(\"" + d.data[i][4] + "\",\"" + d.data[i][1] + "\")'>ראה תיחור</a>")
                et2.row.add(arr).draw();
              


            }
            $("#filename").html($('#uni_sel option:selected').text() + "-" + "רשימת תיחורים מתאריך" + $('#datetimepicker1').val() + "עד תאריך" + $('#datetimepicker2').val());
            $("#filename").trigger("click");


        }
    },
    error: function (xhr, textStatus, errorThrown) {
        // TODO: Show error
    }
    });

    break;

    }
    }
    $.ajax({
        type: "POST",
        url: "@Url.Content("~/Main/GetByTichurAll")" ,
        content: "application/json; charset=utf-8",
    dataType: "json",
    success: function (d) {
        if(d.Status=="error")
        {
            $.bootstrapPurr(d.data[0][0]);
        }
        else
        {


            $("#tab_2").css({ "display": "inline", "width": "100%" });

            $("#canc_tichur").prop("disabled", "disabled");

            et2.clear().draw();
            for (var i = 1; i < d.data.length; i++) {
                var arr = [];
                arr.push(i);
                for (var j = 1; j < d.data[i].length; j++) {
                    arr.push(d.data[i][j]);
                }
                arr.push("<a onclick='FirstReact(\"" + d.data[i][4] + "\",\"" + d.data[i][1] + "\")'>ראה תיחור</a>")
                et2.row.add(arr).draw();
               
            }
            $("#filename").html($('#uni_sel option:selected').text() + "-" + "רשימת תיחורים מתאריך" + $('#datetimepicker1').val() + "עד תאריך" + $('#datetimepicker2').val());
            $("#filename").trigger("click");


        }
    },
    error: function (xhr, textStatus, errorThrown) {
        // TODO: Show error
    }
    });
</script>
@if(User.IsInRole("Admin"))
{
    <script>
      
        function handleCanc()
        {
            var data = { id: last_succ_id,
                comment: $("#comment").val() };
            var r = confirm("לא ניתן לבטל את המחיקה לאחר השלמתה. להמשיך?");
            if (r == true) {
               
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Main/CancelTichur")" ,
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                success: function (d) {
              
                    $.bootstrapPurr(d);
                
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            }); 
            } else {
               
            } 
          
        }
        
    </script>
}


<div class="col-sm-12 bg-primary"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;בחר חיפוש</h5></div>
<div class="col-sm-12">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
  
                                <form id="form_search_area" class="form-horizontal" role="form">
                                    <div class="form-group">

                                        <div class="row col-sm-12">
                                            <div class="row col-sm-3">
                                                <label class="control-label">הסבר:</label>
                                            </div>
                                            <div class="row col-sm-3">


                                                <label class="control-label" for="tichur_num">     &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;מס' תיחור:</label>

                                            </div>

                                            <div class="row col-sm-6">

                                                <div class="row col-sm-7">
                                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;מ:</label>
                                                </div>
                                                <div class="row col-sm-4">
                                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;עד:</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row col-sm-12">
                                            <div class="row col-sm-3">
                                                <i>בחר שיטת חיפוש ע"י לחיצה על כפתור הרדיו המתאים</i>
                                            </div>
                                            <div class="row col-sm-3">
                                                <div class="col-sm-1">
                                                    <input class="radio" type="radio" name="sopt" value="1">
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="tichur_num">
                                                </div>
                                            </div>
                                            <div class="row col-sm-3">
                                                <div class="col-sm-1">
                                                    <input class="radio" type="radio" name="sopt" value="2">
                                                </div>
                                                <div class="col-sm-9">
                                                    <input readonly type="text" class="datepickerY form-control" id="datetimepicker1">
                                                </div>
                                            </div>

                                            <div class="row col-sm-3">
                                                <div class="row col-sm-3">

                                                </div>
                                                <div class="col-sm-9">
                                                    <input readonly type="text" class="datepickerT form-control" id="datetimepicker2">
                                                </div>
                                            </div>






                                        </div>

                                       

                                    </div>
                                    <div class="row col-sm-12">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <div class="form-group col-sm-4">

                                                <div class="col-sm-4">
                                                    <label class="control-label" for="sel_unit">יחידה:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @Html.DropDownList("D", unitli, "בחר/י ערך", new { @id = "uni_sel", @class = "form-control" })
                                                </div>

                                            </div>

                                        }
                                        else
                                        {

                                            <div class="form-group col-sm-4">

                                                <div class="col-sm-4">
                                                    <label class="control-label" for="sel_unit">יחידה:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    @Html.DropDownList("D", unitli, new { @id = "uni_sel", @class = "form-control", @disabled = "disabled" })
                                                </div>

                                            </div>
                                        }



                                        <div class="form-group col-sm-4">
                                            <div class="col-sm-4">
                                                <label class="control-label" for="sel_auct">מכרז:</label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("A", auctionli, "בחר/י ערך", new { @class = "form-control", @id = "sel_auct", @disabled = "disabled", @onchange = "javascript:GetVal(this.value);" })
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <div class="col-sm-4">
                                                <label class="control-label" for="sel_clust">סל:</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <select class="form-control" disabled="disabled" id="sel_clust">
                                                    <option value="">אנא בחר מכרז</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>  
                                     
                                          

                                </form>
                            </div>
                        </div>
    <div class="row col-sm-12">
        <div class="row col-sm-4"></div>
        <div class="row col-sm-6"><button type="button" onclick="getList()" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span>צפה ברשימה</button>
@if (User.IsInRole("Admin"))
            {
    <button id="canc_tichur" type="button" disabled="disabled" class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-close" aria-hidden="true">&nbsp;</span>בטל שליפה</button>
}
<button type="button" onclick="newEff()" class="btn btn-primary"><span class="glyphicon glyphicon-new-window" aria-hidden="true">&nbsp;</span>איפוס נתונים</button></div>
        <div class="row col-sm-2"></div>
            
        </div>
    </div>
<div class="col-sm-12">&nbsp;</div>

<div class="col-sm-12 bg-primary"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;רשימת תוצאות</h5></div>
<div class="col-sm-12">&nbsp;</div>
         
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                
                <h4 class="modal-title">הערת ביטול שליפה</h4>
            </div>
            <div class="modal-body">
                <p><h5><b>חובה להזין הערה לפני ביטול שליפה</b></h5></p>
                <p><h5 class="text-info">שים לב: הערה זה אינה ניתנת לעריכה במועד מאוחר יותר</h5></p>
                
                <div class="form-group">
                  
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right"><button type="button" onclick="handleCanc()"  class="btn btn-default send-mod-but" data-dismiss="modal">אישור והמשך ביטול שליפה</button></div>
             
                <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
            </div>
        </div>

    </div>
</div>
<br />
<div style="display:none;" id="tab_1"><table class="table tabExcel1" id="toExcel1">
    <thead>
        <tr>
            <th>
                מספר שורה
            </th>
            <th>
                מס בתוצאת שליפה
            </th>
            <th>יחידה
                </th>
            <th>
                מס' מכרז
            </th>
            <th>
                שם מכרז
            </th>
            <th>
            תיחור 
            </th>
            <th>
                מס' סל
            </th>
            <th>
                שם סל
            </th>
            <th>
                שם ספק
            </th>
            <th>
                ח.פ.
            </th>
            <th>
                איש קשר
            </th>
            <th>
                אימייל
            </th>
            <th>
                טלפון
            </th>
            <th>
                תאריך ושעה
            </th>
</tr>
    </thead>
    <tbody>

    </tbody>
    </table></div>
<div style="display:none;" id="tab_2">
    <table class="table tabExcel2" id="toExcel2">
        <thead>
            <tr>
                <th>
                    מספר שורה
                </th>
                <th>
                    יחידה
                </th>
                <th>
                    מס' מכרז
                </th>
                <th>
                    שם מכרז
                </th>
                <th>
                    תיחור
                </th>
                <th>
                    מס' סל
                </th>
                <th>
                    שם סל
                </th>
                <th>
                    תאריך ושעה
                </th>
                <th>
                    סטאטוס
                </th>
                <th>
                    רשימת ספקים
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>